---
import Layout from '../layouts/Layout.astro';
import SalarySimulator from '../components/SalarySimulator.tsx';
---
<Layout title="Inflation Impact Simulator - See how inflation affected your salary">
  <main>
    <div class="container mx-auto px-4 py-8">
      <SalarySimulator client:load />
      
      <div class="flex justify-center mt-12 mb-8">
        <a href="/" class="inline-block py-3 px-6 bg-white text-tropical-1 hover:text-tropical-5 border-2 border-tropical-3/30 rounded-lg shadow-md transition-all transform hover:-translate-y-1 font-medium flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
          </svg>
          Back to Home
        </a>
      </div>
    </div>
  </main>
</Layout>